[defaults]
inventory                  = /home/vinzenz.fedora/inventory.ini
remote_user                = vinzenz.fedora
private_key_file           = /home/vinzenz.fedora/.ssh/id_ed25519
host_key_checking          = False
retry_files_enabled        = True
retry_files_save_path      = /home/vinzenz.fedora/.ansible/retry-files
log_path                   = /home/vinzenz.fedora/.ansible/ansible.log
gathering                  = smart
fact_caching               = jsonfile
fact_caching_connection    = /home/vinzenz.fedora/.ansible/fact-cache
fact_caching_timeout       = 7200
stdout_callback            = yaml
display_skipped_hosts      = False
forks                      = 4

[ssh_connection]
ssh_args                   = -o ControlMaster=auto -o ControlPersist=120s -o StrictHostKeyChecking=accept-new
pipelining                 = True
